# Created by venv; see https://docs.python.org/3/library/venv.html
.venv

# Ignore all files in the test_outputs directory
# data/test_outputs/*

# Ignore specific types of files (e.g., KML files, PNG images)
data/test_outputs/**/*.kml
data/test_outputs/**/*.png

# Optional: Ignore temporary files
*.tmp
*.temp

# Debug files for main
src/images

# All pycache directories and contents
__pycache__/

# Ignore environment variables
.env